<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add  name="ENMOS01" connectionString="Data Source=172.17.3.217;Initial Catalog=focus;User Id=sa;Password=enmos2005;"/>
    <add  name="ENMOS02" connectionString="Data Source=172.17.3.220;Initial Catalog=focus;User Id=sa;Password=enmos2005;"/>
    <add name="Impala_ODBC" connectionString="DSN=slave01" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>